body{
     background-color:#FEF8E6;
     color: #333333;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
}
section, header {
width:80%;
max-width: 900px;
margin:auto;
}
section, header {
margin-bottom:5rem;

}
header{
     color:#DD370A;
     font: family Knockout HTF 49px L;
     font-size: 2.300rem;
     line-height: 3rem;



}
header h1,h2,h3{
font-family: "family Knockout HTF 49px ;

 } 

h1  {
     font-size: 3.812rem;
     line-height: 1rem;
     color: #DD370A;
     margin: 5rem 0 3rem 0;

    } 
h2  {
     font-size: 2.300rem;
     line-height: 3rem;
     color: #1A0088;
     margin: 0rem 0 0rem 0;
     
} 
h3  {
     font-size: 1.562rem
     line-height: 5rem;
     color: #DD370A;
     margin: -1rem 0 -1rem 0;

     
} 
blockquote, p{
    padding: 1rem 0  ;

}

.responsivenav {
    background: #743B09;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   font-size: 2rem; 
   color: #f7f7f7;
   font-family: 'Merriweather', serif;
   font-weight: 600;
   padding-left: 35px;
}

nav {
    display: flex;
    padding: 1.5rem 0;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 70px;
}
nav ul li {
    display: inline;
    margin: 5px;
}
nav a {
    border-bottom: none;
    color: #f7f7f7;
    padding: 10px;
}
nav a:hover {
    color: #fbd681;
    transition: all 0.3s ease-in-out;
}

/*-- Styling the footer --*/

footer {
    background: #333333;
    color: #f7f7f7;
    text-align: center;
    font-size: 0.8rem;
    padding: 4rem 0;
}

.light {
    background: #fbd681;
    padding: 3rem 0;
}

footer a {
    color: #fbd681;
}

footer a:hover {
    color: #f7f7f7;
}
.gridimage {
    display: grid;
    column-gap: 20px;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));

a:hover { color:#ACA632}

.responsivenav {
    background: #ECECE4;
    padding:10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo {
    font-size: 2rem;
    color:#851D1A;
}
}
.connections svg {
    margin:1em auto;
    padding-right: 10px;

}

    .connections a:hover svg path{
        fill:#ACA632;
        transition: all 0.3s ease-in-out;
}
footer .connections a:hover svg path|{
    fill: #D8C385;
    transition:all 0.3s ease-in-out;


}
}
.connections svg {
    margin:1em auto;
    padding-right: 10px;

}

    .connections a:hover svg path{
        fill:#ACA632;
        transition: all 0.3s ease-in-out;
}
footer .connections a:hover svg path|{
    fill: #D8C385;
    transition:all 0.3s ease-in-out;


}

@media (max-width: 600px){
    header h1 {
    font-size: 4rem;
    
    }
    .gridimage{
        row-gap: 10px;
    }
