body{
     background-color: aliceblue;
     color: #333333;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
}
section, header {
width:80%;
max-width: 900px;
margin:auto;
}
section, header {
margin-bottom:5rem;

}
header h1,h2,h3{
font-family: "Cinzel", serif;
 } 

h1  {
     font-size: 3.812rem;
     line-height: 1rem;
     color: #851D1A;
     margin: 5rem 0 3rem 0;

    } 
h2  {
     font-size: 2.438rem;
     line-height: 1rem;
     color: #ACA632;
     margin: 0rem 0 0rem 0;
     
} 
h3  {
     font-size: 1.562rem
     line-height: 5rem;
     color: #ACA632;
     margin: -1rem 0 -1rem 0;

     
} 
blockquote, p{
    padding: 1rem 0  ;

}
{}
blockquote{
    font-style: italic;
    font-size: 1.000rem ;
    hanging-punctuation: first ;
    text-indent: -0.5;
    


}
a:hover { colour:#ACA632}
     a {
    color:#743B09;
    text-decoration: none;
    border-bottom: 2px dotted;
    font-weight: 600;
|}
.responsivenav {
    background: #ECECE4;
    padding:10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo {
    font-size: 2rem;
    color:#851D1A;
    font-weight: 600;
   padding-left: 35px;
   nav {
    display: flex;
    padding: 1.5rem 0;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 70px;
}
nav ul li {
    display: inline;
    margin: 5px;
}
nav a {
    border-bottom: none;
    color: #f7f7f7;
    padding: 10px;
}
nav a:hover {
    color: #fbd681;
    transition: all 0.3s ease-in-out;
}


footer {
    background: #333333;
    color: #f7f7f7;
    text-align: center;
    font-size: 0.8rem;
    padding: 4rem 0;
}

.light {
    background: #fbd681;
    padding: 3rem 0;
}

footer a {
    color: #fbd681;
}

footer a:hover {
    color: #f7f7f7;
}
.gridimage {
    display: grid;
    column-gap: 20px;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));


    




