body {
   background:#ECECE4;
   color:#3B3F0E;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: 1.250rem;
}

section, header {
width:80%;
max-width: 900px;
margin:auto;
}

section, header {
margin-bottom:5rem;

}
header h1,h2,h3{
font-family: "Cinzel", serif;
 } 

header h1  {
     font-size: 3.812rem;
     line-height: 1rem;
     color: #851D1A;
     margin: 5rem 0 3rem 0;

    } 
h2  {
     font-size: 2.438rem;
     line-height: 1rem;
     color: #ACA632;
     margin: 0rem 0 0rem 0;
     
} 
h3  {
     font-size: 1.562rem
     line-height: 5rem;
     color: #ACA632;
     margin: -1rem 0 -1rem 0;

     
} 
blockquote, p{
    padding: 1rem 0  ;

}
{}
blockquote{
    font-style: italic;
    font-size: 1.000rem ;
    hanging-punctuation: first ;
    text-indent: -0.5;
    


}


